/.docker           export-ignore
/.github           export-ignore
/Tests             export-ignore
.gitattributes     export-ignore
.gitignore         export-ignore
/compose.yaml      export-ignore
/phpstan.dist.neon export-ignore
/phpunit.dist.xml  export-ignore
# ---
/composer.json     export-subst
# ---
*.sh        text eol=lf
.docker/*   text eol=lf