<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         executionOrder="random"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         failOnDeprecation="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         failOnNotice="true"
         failOnRisky="true">
  <testsuites>
    <testsuite name="all">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <coverage pathCoverage="true">
    <report>
      <php outputFile="coverage/coverage.php" />
      <text outputFile="coverage/coverage.txt" showUncoveredFiles="true" />
    </report>
  </coverage>
</phpunit>